@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<p>Welcome to the ACCS - OPAL Project!</p>

<p>Please visit one of the following pages:</p>

<ul>
    <li>@Html.ActionLink("Basic Search", "BasicSearch", "Search")</li>
</ul>

